@import url('https://fonts.googleapis.com/css2?family=Playwrite+US+Trad:wght@100..400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@font-face {
  font-family: 'Amenti';
  src: url('/fonts/Amenti_Regular.otf');
  font-weight: 400;
}

@font-face {
  font-family: 'Amenti';
  src: url('/fonts/Amenti_Bold.otf');
  font-weight: 700;
}

@font-face {
  font-family: 'Amenti';
  src: url('/fonts/Amenti_Medium.otf');
  font-weight: 500;
}

@font-face {
  font-family: 'Amenti';
  src: url('/fonts/Amenti_Light.otf');
  font-weight: 300;
}

body {
  background-color: #050816;
  /* background: linear-gradient(-90deg, #804dee 0%, rgba(60, 51, 80, 0) 100%);
  background: -webkit-linear-gradient(
    -90deg,
    #804dee 0%,
    rgba(60, 51, 80, 0) 100%
  ); */
  scroll-behavior: smooth;
}

.animated-button {
  position: relative;
  padding: 16px 30px;
  font-size: 16px;
  color: white;
  background-color: #222222;
  border: none;
  border-radius: 35px;
  overflow: hidden;
  cursor: pointer;
  z-index: 1;
}

.animated-button::before {
  content: '';
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(to left, #d3e97a, #222222);
  transition: left 0.8s;
  color: black;
  z-index: -1;
}
.animated-button:hover {
  color: black;
}

.animated-button:hover::before {
  left: 0;
}

.reverse-animated-button {
  position: relative;
  padding: 16px 30px;
  font-size: 16px;
  color: black;
  background-color: black;
  border: none;
  border-radius: 35px;
  overflow: hidden;
  cursor: pointer;
  z-index: 1;
}

.reverse-animated-button::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(70deg, #9b42f5, #ccc);
  transition: left 0.8s;
  color: black;
  z-index: -1;
}
.reverse-animated-button:hover {
  color: white;
}

.reverse-animated-button:hover::before {
  left: -100%;
}

.scale-up-center {
  -webkit-animation: scale-up-center 0.4s cubic-bezier(0.39, 0.575, 0.565, 1)
    both;
  animation: scale-up-center 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

.violet-gradient {
  background: #804dee;
  background: linear-gradient(-90deg, #804dee 0%, rgba(60, 51, 80, 0) 100%);
  background: -webkit-linear-gradient(
    -90deg,
    #804dee 0%,
    rgba(60, 51, 80, 0) 100%
  );
}

@-webkit-keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

#nav a:hover span {
  width: 100%;
}
